.heading-with-border {
  display: inline-block;
  position: relative;
  height: 150%;
}

.heading-with-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 4px;
  background-color: var(--accent-main);
  border-radius: 6px;
}
