.container {
  width: 70%;
}

/* phones */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

/* tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.text-with-border {
  display: inline-block;
  position: relative;
  height: 150%;
}

.text-with-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 4px;
  background-color: var(--accent-main);
  border-radius: 6px;
}
