.article {
  width: 350px;
  height: 364px;
}

.thumbnail-wrapper {
  height: 200px;
}

.register-button {
  background-color: var(--accent-main);
}

.subscription-button {
  background-color: var(--accent-secondary);
}
